@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  /* margin: 0; */
  font-family: "Poppins", sans-serif;
}
.home{
    background-color:#1d1c1b;
    /* height: 100vh; */
}
.app_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app__createPost {
    display: flex;
      justify-content: center;
}