.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: rgb(168, 191, 224);

    height: 40px;
}
.logo_name{
    margin: 6px 5px;
    font-family: 'Blaka Ink', cursive;
    font-size: 30px;
}

.navbar_img{
    height: 30px;
    border-radius: 12px;
}
.navbar_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signInBtn{
    background-color: rgb(255, 64, 0);
    max-width: 170px;
    max-height:30px;
    text-align: center;
    padding: 6px 6px;
    border-radius: 4px;
    color: rgb(24, 23, 23);
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
    /* align-items: center; */
}
.text_signin{
    margin-top: 5px;
}